@font-face {
    font-family: "TitilliumWeb SemiBold";
    src: url('../assets/fonts/TitilliumWeb-SemiBold.ttf') format('truetype');
}
@font-face {
    font-family: "TitilliumWeb Regular";
    src: url('../assets/fonts/TitilliumWeb-Regular.ttf') format('truetype');
}
@font-face {
    font-family: "TitilliumWeb Light";
    src: url('../assets/fonts/TitilliumWeb-ExtraLight.ttf') format('truetype');
}
@font-face {
    font-family: "TitilliumWeb Bold";
    src: url('../assets/fonts/TitilliumWeb-Bold.ttf') format('truetype');
}
@font-face {
    font-family: "Malaga OT Reg Italic";
    src: url('../assets/fonts/Malaga-OT-Reg-Italic.ttf') format('truetype');
}

html{
    height: 100%;
}
body {    
    background-image: url(../assets/images/main.png);   
    background-position: top center;
    background-repeat: no-repeat;    
    width: 1800px;   
    margin: 0 auto;
}

/***********************header***********************************/

header {
    display: flex;
    height: 70px;    
    width: 1400px;
    margin: 77px auto;
}
.header-leftside {
    text-align: left;
    margin-right: 493px;
}
.logo {
    font-family: "TitilliumWeb Bold";
    color: #858688;
    font-size: 30px;    
    margin-left: -1px;
}
.logo-blue {
    color: #5b4295;
}
.lang {
    display: flex;    
    font-family: "TitilliumWeb Regular";
    font-size: 14px;
    list-style-type: none;
    color: #959595;
    margin: 19px 0 0 1px;
}
.lang > li > a{
    color: #959595;
    text-decoration: none;
}
.lang > li:not(:last-child)::after {
    content: '/';
    padding: 0 9px;
    letter-spacing: 1.5px;
}
.lang > li:nth-child(2)::after {
    content: '/';
    padding: 0 10px;
    letter-spacing: 0.5px;
}
.active {
    font-family: "TitilliumWeb Bold";    
    letter-spacing: 0.3px;    
    border-bottom: 0.5px solid #bfc5d4;
}
.navigation {
    display: flex;    
    font-family: "TitilliumWeb Regular";
    font-size: 16px;    
    margin-top: 10px;
}
.navigation > ul{
    display: flex;    
    list-style-type: none;
}
.navigation ul > li > a {
    color: #454545; 
    list-style-type: none;
    padding-right: 26px;
    text-decoration: none;
}
.navigation li:nth-child(2) {
    letter-spacing: 0.5px;   
}
.navigation li:nth-child(4) {
    margin-left: -1px;
    letter-spacing: 0.1px;   
}
.log-in {
    display: flex;
    margin-left: 48px;
    width: 184px;
    margin-top: 1px;    
}
.log-in div {
    display: flex;
}
.log-in a {
    font-size: 15px;
    padding-right: 8px;
    font-family: "TitilliumWeb Bold";
    text-decoration: none;
    letter-spacing: 0.8px; 
    color: #454545;
    text-shadow: #454545 0 0 0.5px;
}
.log-in > div > a{
    font-size: 15px;
    color: #582c7e;
}
.sign-up {
    width: 95px;
    height: 41px;
    border-radius: 50px;
    margin: -10px 0 0 13px;
    background: linear-gradient(150deg, #582c7e, #6379d0);
    border: none;
    color: #fff;
    font-family: "TitilliumWeb Bold";
    font-size: 16px;
    box-shadow: 0 11px 20px #6e7eb8;
    padding-bottom: 7px;
    letter-spacing: 0.5px; 
}
/***********************aside***********************************/
.socials {
    position: fixed;   
    top: 321px;
    width: 100%;
    max-width: 1800px;
}
.socials a {
    text-decoration: none;
    color: #676766;    
}
.socials ul{
    list-style-type: none; 
    float: right; 
    margin-right: 34px;
    font-size: 22px;
}
.socials li {
    margin-bottom: 11px;
}