@media screen and (max-width: 1199px) and (min-width: 768px) {
    body {
        max-width: 1199px;   
        margin: 0 auto;
        background-position: 100% -115px;
        width: 100%;
    }  
    header {        
        margin: 23px 9px;
        justify-content: space-between;  
    }     
    .header-leftside {        
        margin-right: 3vw;
    }
    .lang {        
        font-size: 11px;
    }
    .lang > li:not(:last-child)::after {        
        padding: 0 5px;
    }
    .navigation ul > li > a {
        padding-right: 12px;
    }
    .navigation {        
        font-size: 15px;
    }
    .main {
        max-width: 1199px;
        width: 100%;
        margin: 85px auto;        
    }    
    h1 {
        font-size: 6vw;
    }
    .based {        
        font-size: 4.5vw;
    }
    .main-info {        
        background-position: -23px 45px;        
        width: 579px;
        margin: 0 auto;
        margin-bottom: 200px;
    }
    .log-in {        
        margin-left: 0px;
    }
    .about {       
        grid-template-columns: minmax(1%, 2%) 1fr 1fr 1fr minmax(1%, 2%);
        grid-template-rows: 75px 75px 214px 173px;
    }
    h4 {        
        font-size: 22px;
    }
    .swiss-privacy > div, .double-encryption > div, .anonymous-email > div {        
        font-size: 15px;
        padding-top: 5px;
    }
    .swiss-privacy-content {
        padding: 36px 8px 0 5px;
    }
    .swiss-privacy {       
        padding-left: 84px;        
        background-position: 18px -5px;
    }
    .swiss-privacy h4 {
        padding-bottom: 25px;
    }
    .double-encryption-content {
        padding: 35px 10px 0 8px;
    }
    .anonymous-email-content {       
        padding: 35px 0px 0 8px;
    }
    h2 {        
        margin: -9px 0 0 17vw;
        font-size: 5.5vw;
    }
    .physical-security > div {        
        font-size: 2.3vw;   
        margin: 13px 8px;
    }
    .learn-more {        
        left: 47vw;
    }
    .sponsors {
        background: url(../assets/images/forbes.png) no-repeat 93% 50%;        
        margin: -29px 0 0 4px;
    }
    .blog {
        background: url(../assets/images/nout.png) no-repeat 32.2vw 170px;
        max-width: 1199px;
        width: 100%;
        height: 900px;
    }
    .cite {
        padding: 21px 0 8px 7.3vw;
        background: url(../assets/images/dots.png) no-repeat 3.1vw 28px;
        font-size: 2.4vw;
        width: 55vw;
    }

    .gradient {        
        background: url(../assets/images/main-gradient.png) no-repeat 0 97px;
    }
    cite {
        padding-left: 7vw;        
    }
    .device-info {        
        left: 4vw;
        top: -931px;
        text-align: left;
        width: 48vw;
    }    
    .battons-shop {
        margin: 30px -5px 0 0;
    }
    .line {        
        width: 80vw;
        float: right;
        right: 0;
    }
    .footer-info {        
        max-width: 98%;        
    }    
    .contacts {
        margin-left: 16px;
    }
    .links a {        
        padding-right: 5px;
    }
    .donate {        
        background: url(../assets/images/donate.png) no-repeat 2vw 20px;
        clear: both;
        padding: 0px 22px 26px 0;
        height: 175px;
        background-size: contain;
    }
    .contacts {
        margin-left: 19px;
    }
    .company {
        width: 29vw;
    }
    .footer-legals {
        width: 100%;
        border-right: none;
        height: 151px;
    }
    .footer-socials {        
        padding: 73px 0 16px 20px;
    }
    .footer-legals div {
        padding-left: 19px;
    }
    .neutronMail {
        padding-right: 2vw;
    }
    .socials {
        position: absolute;
        top: 196px;
    }
}
